body{
    background-color: #fff;
}



.content-1{
    margin:0 0 0 0;
    background-image:url(../img/fondo-head.jpg);
    background-position: left bottom;

}

.content-1 header {
    margin:0 10% 0 10%;
}


.content{
    margin: 1% 10% 0 10%;
    background-color: #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.Titulo{
	font-family: Gabriola;
	font-size:52pt;
	}
	
.subTitulo{
	font-size:18pt;
	margin: -10px 0 0 80px;

}

nav.navMenuTop{
	/*Bordes redondeados*/
    border-radius: 10px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
	overflow: hidden;
	padding: 10px;
}

nav.navMenuTop ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

nav.navMenuTop ul li{
    /*Bordes redondeados*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/

}

nav.navMenuTop  ul li:hover{
    /*Degradado de fondo*/
	background-color:ghostwhite;
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
   /* border:1px solid #E3E3E3;*/
}

nav.navMenuTop   ul li a{
    color:#3366FF;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    transition: 0.4s linear all;
}

nav.navMenuTop    ul li a:hover {
    color:#000;
}

#formulario_login{
    margin: 5% 0 0 10%;

}

#formulario_login table {
	margin: 0;
	padding: 0;
	width: 50%
}

#formulario_login table th {
	font-size: 16px;
	color: #FFF;
	background-color: #06C;
	padding: 8px 4px;
	border-bottom: 1px solid #015ebc;
}


#formulario_login table td {
	background-color: #f2f2f2;
	font-size: 16px;
	text-align: center;
}





.base_noticias{

    border:dashed 0px #000000;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(220, 220, 220);
    background-color: rgba(255, 255, 255, 0.9);


}

.base_noticias .content_noticia, .base_noticias .content_noticias{
    display: inline-block;
}
.base_noticias .content_noticia p {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    text-align: justify;


}

.base_noticias .content_noticias p {
    margin-left: 5%;
    margin-right: 5%;
    height: 99px;
    overflow: hidden;
    text-align: justify;

}


.base_noticias .titulo_noticia a{
        text-decoration: none;
        color: #white;
}

.base_noticias .titulo_noticia a:link{
        text-decoration: none;
        color: #white;
}

.base_noticias .titulo_noticia a:visited{
        text-decoration: none;
        color: white;
}

.base_noticias .titulo_noticia h1{
    margin-left: 5%;
    color: white;
}

.imagen_noticia{
  margin-top: 1%;
  width: 50%;
  height: 50%;
  margin-left: 30%;

 }

.imagen_noticia img{

  width: 60%;
  height: 60%;

 }

.base_noticias .titulo_noticia{
    background-color: #0099CC;
    border-radius: 10px;
    overflow: hidden;

}
