{% extends 'base/base.html' %}
{% block titulo %} Noticias viewor {% endblock %}


{% block content %}
<h1> Ultimas noticias </h1>

<div class="base_noticias">

{% for datos in noticias %}
<div class="titulo_noticia">
    <h2> <a href='/noticia/{{ datos.id }}'>{{ datos.titulo }}</a> </h2>
</div>
<div class="imagen_noticia">
    <img src='/media/{{ datos.imagen_entrada }}'>
</div>

<div class="content_noticias">
<p>{{ datos.contenido }}</p>
</div>
<hr />
<div class="info_noticia"> <p> <sub><em>La fecha de publicacion: {{ datos.fecha_publicacion }}. Creado por: {{ datos.usuario.username|upper }}.</em> </sub></p> </div>
<hr />

{% empty %}
        <p> No existen noticias que mostrar<p>
{% endfor %}
{% endblock %}
</div>
